#parent{
    display: flex;
    height: 100%;
}

.maincontent{
    width: 80%;
    max-width: 1200px;
    margin: 70px 5% 0px 5%;
    padding: 0px 10%;
}

.maincontent > div{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    border-top: solid 2px #3c3c3cdc;
}

#About{
    border: 0px;
}

#Skill h5{
    margin: 1% 0%;
}

#Station{
    flex-wrap: wrap;
}

#Works ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
}

#Works ul > a{
    color: #5C5C5C;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px;
    padding-left: 5px;
    border-left: solid 3px #1E4C84;
}

#Works ul div img{
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    margin: 5px;
}

#Contact h5{
    margin: 5px 0px;
}