body{
    margin: auto;
    color: #5C5C5C;
}
#Title{
    color: #F7F7F7;
}
header{
    background: #222222;
}
.headerInner{
    width: auto;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: #a9a9a9;
}

.Site-info{
    position: sticky;
    top: 10px;
    width: 30px;
    height: 100vh;
    transition: 0.5s;
}

.Line-info{
    width: 30px;
    height: 100%;
    margin-top: 10px;
    margin-left: 15%;
    transition: 1s;
}

@media(max-width: 1000px){
    .Line-info{
        opacity: -1;
    }
}

.Line-circle div:hover .Underline{
    width: 200px;
    transition: 1s ease-in-out;
}

.Line-text:hover .Underline{
    width: 200px;
    transition: 1s ease-in-out;
}
.Line-info hr{
    background: #1E4C84;
    border: 0px;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.Line-text {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    width: 50px;
    height: 45px;
    color: #5C5C5C;
    transform: rotate(45deg);
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin: 25px 0px 0px 30px;
    transition: 1s;
}

.Underline{
    position: absolute;
    width: 0px;
    height: 5px;
    background-color: #85A3BF;
    border-radius: 2.5px;
    transition: 0.5s;
    margin: 0px 0px 0px -15px;
}

.Line-circle{
    position: relative;
    top: -95%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}
.circle{
    border:solid 10px #FFFFFF;
    border-radius: 10px;
    width: 0px;
    height: 0px;
    margin: 50px auto;
}